body {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--dark-color);
  overflow: hidden;
  perspective: 1000px;
}

*{
    margin: 0;
}
.contenedor{
    background: rgb(154, 3, 171);
    width: 98.5vw;
    height: 135vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: .10%;
}
button{
    font-size: xx-large;
    padding: 0.70em;
}

#yesBtn{
    transform: translate(-100%,0);
}
#noBtn{
    position: absolute;
}

